h1{
    padding-bottom: 10px;
    width: 240px;
    border-bottom: 3px solid red;

}
p{
    color: rgba(164, 181, 207, 1);
}
.line{
    border-left: 2px solid black;
    margin: 10px;
    height: 390px;
}
.button{
    border: 1px solid #f77c01;
    color: #f77c01;
    background-color: white;
    width:80px;
    height: 30px  ;
    border-radius: 5px;
}
img{
    border-radius: 5px;
}
.border{
    border-right: 1px solid black;
    padding-right:50px;
}
.border2{
    border-right: 1px solid black;
    padding-right: 50px;
}
