*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
table{
    border-collapse: collapse;
}
h2{
    padding: 5px;
}

p{
    color: rgba(128, 128, 128, 0.673);
    margin: 20px
}
button{
    border: 2px solid gray;
    background-color: white;
    padding: 5px;
}
img{
    margin: 20px;
    width: 300px;
   
}