*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent .child{
    width: 100px;
    height: 100px;
}
.parent{
    background-color: gray;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    height: 600px;
    justify-content: center;

    align-items: center;
}
.child{
    background-color: red;
    display: flex;
    justify-content: center;

    align-items: center;

}
