*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(51, 51, 51);
    color: white;
    align-items: center;
    height: 60px;
}
ul{
    margin-right: 200px;
    display: flex;
    list-style: none;
   
}
li{
    margin: 5px;
}
.content{
    margin-left:200px ;
    width: 60%;
    background-color: rgb(244, 244, 244);
}
.content2{
    margin-left:200px ;
    width: 60%;
    background-color: rgb(244, 244, 244);
}
h2,h3,p,a{
margin :15px;
}
.title{
    margin-left:200px ;
}
footer{
    background-color: rgb(51, 51, 51);
    display: flex;
    color: white;
    height: 60px;
    justify-content: center;
    align-items: center;
}
a{
    color: blue;
}