*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    
    position: relative;
    background-color: rgba(249, 249, 249, 1);
padding: 10px;
    color: rgba(35, 23, 81, 1);
    height: 100%;
    width: 100%;
}
img{
    position: absolute;
    left: 30px;
}
h2{
    position: relative;
    margin: 10px;
   left: 15px;
}
p{
    position: relative;
    margin: 10px;
    left: 40px;
   
}
.button2{
    border: 1px solid black;
    padding: 5px;
    position:relative; 
    left: 30px;
}
.button1{
    position: relative;
    background-color: red ;
    color: white;
    border-radius: 5px;
    margin-right: 5px;
    left: 30px;
    padding: 5px;
    border: none;
}